---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Error 401" description="Eres un castor">
  <div class="flex h-screen flex-row justify-center">
    <div class="flex h-2/3 flex-col justify-center">
      <h1 class="text-9xl font-extrabold text-error">Error 401</h1>
      <h2>O eres Sakove, o no te sabes la contraseña</h2>
    </div>
  </div>
</BaseLayout>
