---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Error 404" description="Error 404: Not found">
  <div class="flex h-screen flex-row justify-center">
    <div class="flex h-2/3 flex-col justify-center">
      <h1 class="text-9xl font-extrabold text-error">Error 404</h1>
      <h2>
        Porque te inventas @tags de la nada, esque eres un <span
          class="text-red-600">Otricorrinco</span
        >
      </h2>
    </div>
  </div>
</BaseLayout>
