---
import BaseLayout from "@/layouts/BaseLayout.astro"
import SelectButton from "@/components/Castake/SelectButton.astro"
---

<BaseLayout title="Castake" description="Play castake v3">
    <div class="m-4 p-4 w-full h-screen">
        <div class="w-full h-full flex justify-center items-center">
            <div class="bg-base-200 flex flex-col gap-3 w-full max-w-lg">
                <SelectButton href="/rili/castake/play">Play</SelectButton>
                <SelectButton href="/rili/castake/play">Play</SelectButton>
                <SelectButton href="/rili/castake/play">Play</SelectButton>
            </div>
        </div>
    </div>
</BaseLayout>
