---
import BaseLayout from "@l/BaseLayout.astro";

import { getCollection } from "astro:content";
import moment from "moment";

import type { BlogEntry } from "../../types";

const blogEntries: BlogEntry[] = await getCollection("blog");
---

<BaseLayout title="Blog" description="All blog posts">
  <ul>
    {
      blogEntries.map((entry) => (
        <div class="card w-96 bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">{entry.data.title}</h2>
            <p>
              Published on:{" "}
              {moment(entry.data.publishDate).utc().format("YYYY-MM-DD")}
            </p>
            <p>{entry.data.description}</p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary text-text" href={"/blog/" + entry.slug}>
                Read
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </ul>
</BaseLayout>
