---
import { getCollection } from 'astro:content';
import moment from "moment";

const blogEntries = await getCollection('blog');

export const prerender = true
---

<ul>
    {blogEntries.map(entry => (
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src={entry.data.image} alt="Blog Post Image" /></figure>
                <div class="card-body">
                    <h2 class="card-title">{entry.data.title}</h2>
                    <p>{entry.data.description}</p>
                    <p>Published on: { moment(entry.data.publishDate).utc().format('YYYY-MM-DD') }</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">
                            <a href={`/blog/${entry.slug}`}>Read now</a>
                        </button>
                    </div>
                </div>
            </div>
        ))}
</ul>
