---
import BaseLayout from "@/layouts/BaseLayout.astro";
import RiliChatPriv from "@/components/Rili/RiliChatPriv.svelte";
---

<BaseLayout
  title="Rili Chat Private"
  description="Riliest private chat app ever"
>
  <RiliChatPriv client:only="svelte" />
  <h1 class="text-4xl text-error">Nah</h1>
</BaseLayout>
