/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	:root {
		--text-50: #e6fdfe;
		--text-100: #cefcfd;
		--text-200: #9cf9fc;
		--text-300: #6bf6fa;
		--text-400: #39f2f9;
		--text-500: #08eff7;
		--text-600: #06bfc6;
		--text-700: #059094;
		--text-800: #036063;
		--text-900: #023031;
		--text-950: #011819;

		--background-50: #f2f2f2;
		--background-100: #e6e6e6;
		--background-200: #cccccc;
		--background-300: #b3b3b3;
		--background-400: #999999;
		--background-500: #808080;
		--background-600: #666666;
		--background-700: #4d4d4d;
		--background-800: #333333;
		--background-900: #1a1a1a;
		--background-950: #0d0d0d;

		--primary-50: #e6f1fe;
		--primary-100: #cde3fe;
		--primary-200: #9bc7fd;
		--primary-300: #69abfc;
		--primary-400: #378ffb;
		--primary-500: #0573fa;
		--primary-600: #045cc8;
		--primary-700: #034596;
		--primary-800: #022e64;
		--primary-900: #011732;
		--primary-950: #010c19;

		--secondary-50: #e5f1ff;
		--secondary-100: #cce4ff;
		--secondary-200: #99c9ff;
		--secondary-300: #66adff;
		--secondary-400: #3392ff;
		--secondary-500: #0077ff;
		--secondary-600: #005fcc;
		--secondary-700: #004799;
		--secondary-800: #003066;
		--secondary-900: #001833;
		--secondary-950: #000c1a;

		--accent-50: #ebe5ff;
		--accent-100: #d8ccff;
		--accent-200: #b199ff;
		--accent-300: #8a66ff;
		--accent-400: #6333ff;
		--accent-500: #3c00ff;
		--accent-600: #3000cc;
		--accent-700: #240099;
		--accent-800: #180066;
		--accent-900: #0c0033;
		--accent-950: #06001a;

	}
	.dark {
		--text-50: #011819;
		--text-100: #023031;
		--text-200: #036063;
		--text-300: #059094;
		--text-400: #06bfc6;
		--text-500: #08eff7;
		--text-600: #39f2f9;
		--text-700: #6bf6fa;
		--text-800: #9cf9fc;
		--text-900: #cefcfd;
		--text-950: #e6fdfe;

		--background-50: #0d0d0d;
		--background-100: #1a1a1a;
		--background-200: #333333;
		--background-300: #4d4d4d;
		--background-400: #666666;
		--background-500: #808080;
		--background-600: #999999;
		--background-700: #b3b3b3;
		--background-800: #cccccc;
		--background-900: #e6e6e6;
		--background-950: #f2f2f2;

		--primary-50: #010c19;
		--primary-100: #011732;
		--primary-200: #022e64;
		--primary-300: #034596;
		--primary-400: #045cc8;
		--primary-500: #0573fa;
		--primary-600: #378ffb;
		--primary-700: #69abfc;
		--primary-800: #9bc7fd;
		--primary-900: #cde3fe;
		--primary-950: #e6f1fe;

		--secondary-50: #000c1a;
		--secondary-100: #001833;
		--secondary-200: #003066;
		--secondary-300: #004799;
		--secondary-400: #005fcc;
		--secondary-500: #0077ff;
		--secondary-600: #3392ff;
		--secondary-700: #66adff;
		--secondary-800: #99c9ff;
		--secondary-900: #cce4ff;
		--secondary-950: #e5f1ff;

		--accent-50: #06001a;
		--accent-100: #0c0033;
		--accent-200: #180066;
		--accent-300: #240099;
		--accent-400: #3000cc;
		--accent-500: #3c00ff;
		--accent-600: #6333ff;
		--accent-700: #8a66ff;
		--accent-800: #b199ff;
		--accent-900: #d8ccff;
		--accent-950: #ebe5ff;

	}
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
