---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CapchaImage from "../components/CapchaImage.svelte";
---

<BaseLayout title="Capcha" description="Eres un castor?">
  <h1 class="flex justify-center items-center">
    Pulsa todos los semaforos para comprobar que no eres un castor
  </h1>
  <div class="flex flex-row min-h-screen justify-center items-center">
    <div class="grid grid-cols-3 grid-rows-3">
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
      <CapchaImage client:load />
    </div>
  </div>
</BaseLayout>
