---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CapchaImage from "../components/CapchaImage.svelte";
---

<BaseLayout
  title="Capcha"
  description="Eres un castor?"
  image="trafficLight.jpeg"
  className="flex flex-col items-center justify-center"
>
  <div class="size-96 bg-base-200 shadow-2xl">
    <h2 class="text-secondary">
      Pulsa todos los semaforos para comprobar que no eres un castor
    </h2>
    <div class="grid grid-cols-3 grid-rows-3">
      {new Array(9).map(() => <CapchaImage client:load />)}
    </div>
  </div>
</BaseLayout>
