---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BackgroundBeams } from "../components/ui/background-beams";
---

<BaseLayout title="Sieske" description="Welcome to my site">
  <div class="absolute flex h-screen w-screen flex-row justify-center">
    <div class="flex flex-col justify-center">
      <h1
        class="inline-block space-y-2 rounded-2xl bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-[10rem] font-extrabold text-transparent"
      >
        NAH
      </h1>
      <h1
        class="inline-block space-y-2 rounded-2xl bg-gradient-to-r from-blue-500 to-sky-500 bg-clip-text text-[10rem] font-extrabold text-transparent"
      >
        SIESQUE
      </h1>
      <h1
        class="inline-block space-y-2 rounded-2xl bg-gradient-to-r from-indigo-500 to-cyan-500 bg-clip-text text-[10rem] font-extrabold text-transparent"
      >
        RILI
      </h1>
    </div>
  </div>

  <BackgroundBeams client:load />
</BaseLayout>
