---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BackgroundBeams } from "../components/ui/background-beams";
---

<BaseLayout title="Sieske" description="Welcome to my blog">
  <h1>Hello World</h1>

  <BackgroundBeams client:load />
</BaseLayout>
