---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BackgroundBeams } from "../components/ui/background-beams";
import GradientTitle from "../components/GradientTitle";
---

<BaseLayout
  title="Siesque"
  description="Welcome to the riliest website on uranus"
>
  <div
    class="dark:bg-grid-large-white/[0.2] bg-grid-large-gray-400/[0.2] relative flex h-screen w-full items-center justify-center bg-base-100 dark:bg-black"
  >
    <div
      class="pointer-events-none absolute inset-0 flex items-center justify-center bg-base-100 [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)] dark:bg-black"
    >
    </div>
    {
      /*
    <p
      class="relative z-20 bg-gradient-to-b from-neutral-200 to-neutral-500 bg-clip-text text-4xl font-bold text-transparent sm:text-7xl"
    >
      NAH SIESQUE RILI
    </p>*/
    }
    <GradientTitle>NAH SIESQUE RILI</GradientTitle>
  </div>
</BaseLayout>
