---
import BaseLayout from "../layouts/BaseLayout.astro";
import { BackgroundBeams } from "../components/ui/background-beams";
import GradientTitle from "../components/GradientTitle";
---

<BaseLayout title="Sieske" description="Welcome to my site">
  <div class="absolute flex h-screen w-screen flex-row justify-center">
    <div class="flex flex-col justify-center">
      <GradientTitle title={["NAH", "SIESQUE", "RILI"]} />
    </div>
  </div>

  <BackgroundBeams client:load />
</BaseLayout>
