---
import ThemeController from "./ThemeController.svelte";
---

<div class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-ghost btn-circle avatar">
    <div class="w-10 rounded-full">
      <!-- Profile Icon Here -->
    </div>
  </label>
  <ul
    tabindex="0"
    class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
  >
    <ThemeController client:only="svelte" />
  </ul>
</div>
