---
import { getCollection } from "astro:content";

import type { BlogEntry } from "../types";

const blogEntries: BlogEntry[] = await getCollection("blog");
---

<footer class="footer bg-base-200 p-10 text-base-content">
  <nav>
    <header class="footer-title">Blog</header>
    {
      blogEntries.map((entry: BlogEntry) => (
        <a class="link-hover link" href={`/blog/${entry.slug}`}>
          {entry.data.title}
        </a>
      ))
    }
  </nav>
  <nav>
    <header class="footer-title">Header</header>
    <a class="link-hover link">Link</a>
  </nav>
  <nav>
    <header class="footer-title">Header</header>
    <a class="link-hover link">Link</a>
  </nav>
</footer>
<footer
  class="footer border-t border-base-300 bg-base-200 px-10 py-4 text-base-content"
>
  <aside class="grid-flow-col items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 200 200"
      width="40"
      height="40"
      class="coolshapes misc-4"
      ><g clip-path="url(#cs_clip_1_misc-4)"
        ><mask
          id="cs_mask_1_misc-4"
          style="mask-type:alpha"
          width="137"
          height="200"
          x="31"
          y="0"
          maskUnits="userSpaceOnUse"
          ><path
            fill="#fff"
            d="M82 124H44.017c-9.288 0-15.054-10.119-10.334-18.135l58.26-98.942C99.186-5.377 118-.23 118 14.053V76h37.982c9.288 0 15.054 10.12 10.334 18.135l-58.26 98.942C100.813 205.377 82 200.23 82 185.948V124z"
          ></path></mask
        ><g mask="url(#cs_mask_1_misc-4)"
          ><path fill="#fff" d="M200 0H0v200h200V0z"></path><path
            fill="url(#paint0_linear_748_5038)"
            d="M200 0H0v200h200V0z"></path><g filter="url(#filter0_f_748_5038)"
            ><path fill="#18A0FB" d="M216 79H96v135h120V79z"></path></g
          ></g
        ></g
      ><defs
        ><filter
          id="filter0_f_748_5038"
          width="245"
          height="260"
          x="33.5"
          y="16.5"
          color-interpolation-filters="sRGB"
          filterUnits="userSpaceOnUse"
          ><feFlood flood-opacity="0" result="BackgroundImageFix"
          ></feFlood><feBlend
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"></feBlend><feGaussianBlur
            result="effect1_foregroundBlur_748_5038"
            stdDeviation="31.25"></feGaussianBlur></filter
        ><linearGradient
          id="paint0_linear_748_5038"
          x1="38"
          x2="119"
          y1="14.5"
          y2="181.5"
          gradientUnits="userSpaceOnUse"
          ><stop stop-color="#FFE500"></stop><stop
            offset="1"
            stop-color="#07FFE1"></stop></linearGradient
        ><clipPath id="cs_clip_1_misc-4"
          ><path fill="#fff" d="M0 0H200V200H0z"></path></clipPath
        ></defs
      ></svg
    >
    <p>
      Siesque <br />Copyright © {
        new Date().getFullYear() !== 2023
          ? `2023 - ${new Date().getFullYear()}`
          : "2023"
      }
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
          ></path></svg
        ></a
      >
      <a
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
          ></path></svg
        ></a
      >
      <a href="https://github.com/Separatehhh23/pylinker.com">Github SVG Here</a
      >
    </div>
  </nav>
</footer>
