---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Rili Dictionary" description="Dictionary for knowing what rili words mean">
    <div class="flex flex-row justify-center">
        
    </div>
</BaseLayout>