---
import Layout from './Layout.astro';
import Footer from '../components/Footer.vue';
import NavBar from '../components/NavBar.vue';

interface Props {
    title: string;
    description: string;
}

const {title, description }: Props = Astro.props
---

<Layout title={title} description={description}>
    <NavBar />

    <main class="h-screen">
        <slot />
    </main>

    <Footer />

</Layout>

