---
import Layout from "./Layout.astro";
import Footer from "../components/astro/Footer.astro";
import NavBar from "../components/astro/NavBar.astro";
import type { HTMLTag } from "astro/types";

interface Props {
  title: string;
  description: string;
  head?: HTMLTag;
}

const { title, description, head }: Props = Astro.props;
---

<Layout title={title} description={description} head={head}>
  <NavBar />

  <main class="h-screen">
    <slot />
  </main>

  <Footer />
</Layout>
