---
// Import globals.scss so that it can be used in every page
import "@/styles/global.scss";

import BaseHead from "@/components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import type { HTMLTag } from "astro/types";
import SpeedInsights from "@vercel/speed-insights/astro";

let {
  title,
  description,
  head,
  image,
}: {
  title: string;
  description: string;
  head?: HTMLTag;
  image?: string;
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <SpeedInsights />

    <Fragment set:html={head} />

    <script>
      // Experiment loader
      (window as any).toggleExperiment = import("@/stores").then(
        (d) => d.toggleExperiment,
      );
      (window as any).getExperiments = import("@/stores").then(
        (d) => d.experiments.get,
      );
    </script>
  </head>
  <body><slot /></body>
</html>
