---
import { ViewTransitions } from "astro:transitions";
import type { HTMLTag } from "astro/types";
import SpeedInsights from "@vercel/speed-insights/astro";

import "@/styles/global.scss";
import BaseHead from "@/components/BaseHead.astro";

let {
  title,
  description,
  head,
  image,
}: {
  title: string;
  description: string;
  head?: HTMLTag;
  image?: string;
} = Astro.props;
---

<!doctype html>
<html lang="en" id="app">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <SpeedInsights />

    <Fragment set:html={head} />

    <script>
      import { theme } from "@/stores";

      // This fires on first page load
      theme.subscribe((value) => {
        document.getElementById("app").setAttribute("data-theme", value);
      });

      document.addEventListener("astro:before-swap", (ev) => {
        // This fires on page load != first
        const app = ev.newDocument.getElementById("app");
        theme.subscribe((value) => {
          app.setAttribute("data-theme", value);
        });
      });
    </script>
  </head>
  <body><slot /></body>
</html>
