---
// Import globals.css so that it can be used in every page that imports BaseLayout.astro
import "../styles/global.scss";

import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import type { HTMLTag } from "astro/types";

const {
  title,
  description,
  head,
  image,
}: {
  title: string;
  description: string;
  head?: HTMLTag;
  image?: string;
} = Astro.props;
---

<!doctype html>
<html lang="en" id="app">
  <head>
    <script src="../lib/themeApplier.ts"></script>
    <BaseHead title={title} description={description} image={image} />
    <ViewTransitions />
    <Fragment set:html={head} />
  </head>
  <body><slot /></body>
</html>
