---
// Import globals.css so that it can be used in every page that imports BaseLayout.astro
import "../styles/global.scss";

import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import type { HTMLTag } from "astro/types";
import SpeedInsights from "@vercel/speed-insights/astro";

let {
  title,
  description,
  head,
  image,
}: {
  title?: string;
  description?: string;
  head?: HTMLTag;
  image?: string;
} = Astro.props;

if (typeof title !== "string") title = "Sieske";
if (typeof description !== "string") description = title;
---

<!doctype html>
<html lang="en" id="app">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <ViewTransitions />
    <SpeedInsights />
    <Fragment set:html={head} />
  </head>
  <body><slot /></body>
</html>
