---
// Import globals.css so that it can be used in every page that imports BaseLayout.astro
import '../styles/global.scss';

import BaseHead from '../components/BaseHead.astro';

import type { HTMLTag } from "astro/types";
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title: string;
    description: string;
}

const { title, description }: Props = Astro.props;
---

<!doctype=html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <ViewTransitions />

        <slot name="head" />
    </head>
    <body><slot /></body>
</html>