---
// Import globals.css so that it can be used in every page that imports BaseLayout.astro
import "../styles/global.scss";

import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import type { HTMLTag } from "astro/types";

interface Props {
  title: string;
  description: string;
  head?: HTMLTag;
}

const { title, description, head }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />

    {head}
  </head>
  <body><slot /></body>
</html>
